<launch>
  <!-- https://i-0b24246ccb84d83cd.robotigniteacademy.com/jupyter/notebooks/Chapter2_Moveit.ipynb -->
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <rosparam command="load" file="$(find ur_robot_moveit_config)/config/joint_names.yaml"/>

  <include file="$(find ur_robot_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node>

  <!-- Launch moveit -->
  <include file="$(find ur_robot_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>

  <include file="$(find ur_robot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
